<h1>Team Name: <%@team.name%> </h1>
<%#=@post.title%><br/>
<%#=@post.description%><br/>

<h1>Team Members: <%@user.name%></h1>

<h2><%="Teams"%></h2>
<ul>
    <% @userteam.each do |ut| %>

        <% ut.each do |posts| %>
            <%# posts.each do |post| %>

                <li><%= post.title %></li><br><br>
                <li><%= post.description %></li>
                <% if post.user_team_id == @userteam.id %>

                    <%= @userteam[:user][:username] %>
                <%end %>

            <%#end %>
        <%end %>
    <% end %> 
</ul>



<!-- <h1><%=@user.username%></h1>
<h3><%="#{@user.name} Bio" %></h3>
<h4><%=@user.username%></h4>
<h4><%=@user.email%></h4>
<br>
<%= form_with url: '/logout', method: 'delete' do |f| %>
<%= f.submit "Logout"%>
<% end %>
<h2><%="Teams"%></h2>
<ul>
    <% @userteams.each do |team| %>
        <li><%= team.name %></li>
    <% end %> 
</ul> -->