<div align="center">
<h1>Please Login</h1>
<%= form_with url: '/login', method: "post" do |f| %>
<%= f.label :email, "Email" %><br>
<%= f.text_field :email %><br><br>
<%= f.label :password, "Password" %><br>
<%= f.password_field :password %><br><br>
<%= f.submit "Login" %><br><br>
<% end %>
<%= link_to'<button type="button">New User</button>'.html_safe, new_user_path %>
<BR><BR>
    <% if flash[:errors] %>
    <b>Errors:</b>
    <ul>
        <% flash[:errors].each do |e| %>
            <li>
                <%= e %>
            </li>
        <% end %>
    </ul>
    <% end %>
    
</div>






