<div align="center">
<h1>Create New User</h1>
<%= form_for @user do |f| %>
<%= f.label :name, "Full Name" %><br>
<%= f.text_field :name %><br><br>
<%= f.label :username, "Desired Username" %><br>
<%= f.text_field :username %><br><br>
<%= f.label :email, "Email" %><br>
<%= f.text_field :email %><br><br>
<%= f.submit %>
<% end %>
<BR><BR>
<% if flash[:errors] %>
<b>Errors:</b>
<ul>
    <% flash[:errors].each do |e| %>
        <li>
            <%= e %>
        </li>
    <% end %>
</ul>
<% end %>

</div>