<div class="user_feed">
    <div class="sidebar">
        <h4><b><%=@user.username%></b></h4><br>
        <h4>User Info:</h4>
        <h6><%="Name: #{@user.name}" %></h6>
        <h6><%="Username: #{@user.username}"%></h6>
        <h6><%=@user.email%></h6><br>
        <h4>User Stats:</h4>
        <h6>Number of Posts: <%=@user.num_posts%></h6>
        <h6>Number of Teams: <%=@user.num_teams%></h6>
    </div>

    <div class="col1">
        <h2><%="Teams"%></h2>
        <ul>
            <% @userteams.each do |team| %>
                <li><%= "Name: #{team.name}" %></li>
            <% end %> 
        </ul>
        <br>
        <h2><%="Projects"%></h2>
        <ul>
            <% @projects.each do |project| %>
                <li><%= "Name: #{project.name}" %></li>
                <li><%= "Description: #{project.description}" %></li>
                <li><%= "Start Date: #{project.start}" %></li>
                <li><%= "End Date #{project.finish}" %></li>
            <% end %> 
        </ul>
    </div>
</div>