<h1><%=@user.username%></h1>
<h3><%="#{@user.name} Bio" %></h3>
<h4><%=@user.username%></h4>
<h4><%=@user.status%></h4>
<h2><%="Teams"%></h2>
<ul>
    <% @userteams.each do |team| %>
        <li><%= team.name %></li>
    <% end %> 
</ul>
<br>
<h2><%="Projects"%></h2>
<ul>
    <% @projects.each do |project| %>
        <li><%= project %></li>
    <% end %> 
</ul>
