<div class="user_feed">
    <div class="sidebar">
        <h4><b><%=@user.username%></b></h4><br>
        <h4>User Info:</h4><br>
        <ul class="list-unstyled">
            <li class="media">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">Name:</h5>
                    <%= "#{@user.name}" %><br><br>
                </div>
            </li>
            <li class="media">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">Username:</h5>
                    <%= "#{@user.username}" %><br><br>
                </div>
            </li>
            <li class="media">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">Email:</h5>
                    <%= "#{@user.email}" %><br><br><br>
                </div>
            </li>
        </ul>
        <h4>User Stats:</h4><br>
        <h6>Number of Posts: <%=@user.num_posts%></h6>
        <h6>Number of Teams: <%=@user.num_teams%></h6>
    </div>

    <div class="col1">
        <h2><%="Teams"%></h2><br>
        <ul class="list-unstyled">
            <% @userteams.each do |team| %>
                <li class="media">
                  <div class="media-body">
                    <h5 class="mt-0 mb-1">Name:</h5>
                    <%= link_to "#{team.name}", "/teams/#{team.slug}" %>
                  </div>
                </li>
            <% end %> 
            </ul>
        <br>
        <h2><%="Projects"%></h2><br>
        <ul class="list-unstyled">
                <% @projects.each do |project| %>
                <li class="media">
                  <div class="media-body">
                    <h5 class="mt-0 mb-1">Name:</h5>
                    <%= "#{project.name}" %>
                  </div>
                </li>
        
                <li class="media my-4">
                  <div class="media-body">
                    <h5 class="mt-0 mb-1">Description: </h5>
                    <%="#{project.description}" %>
                  </div>
                </li>
        
                <li class="media my-4">
                  <div class="media-body">
                    <h5 class="mt-0 mb-1">Start Date:</h5>
                    <%= "#{project.start}" %>
                  </div>
                </li>
        
                <li class="media">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Finish Date:</h5>
                        <%= "#{project.finish}" %>
                    </div>
                </li>
                <% end %> 
              </ul>
    </div>
</div>

