<div class="user_feed">
    <div class="center">
        <h1>Edit a post:</h1>
        <%= form_for @post do  |f| %>
        <%= f.label :title %><br>
        <%= f.text_field :title %><br/><br>
        <%= f.label :post_body %><br>
        <%= f.text_area :description %><br/><br>
        <%= f.label :link_a_file %><br>
        <%= f.text_field :file %><br/><br>
        <%= f.label :Select_team_for_post %><br>
        <%= f.collection_select :user_team_id, @uts, :id, :team_name %><br><br>
        <%= f.submit "Update Post"  %>
        <% end %><br/>

        <%= form_for @post, method: :delete do |f| %>
        <%= f.submit "Delete Post" %>
        <% end %><br/>
        
        <%= link_to '<button type="button">Create a New Post</button>'.html_safe, new_post_path %><br/>

    </div>
</div>

