<!DOCTYPE html>
<html>
  <head>
    <title>Projx - Work Smarter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section id="nav-bar">
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #007f4f;">
           <a class="navbar-brand" href="/"><img src="/assets/logo.png"/></a> 
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Home </a>
              </li>
              <li class="nav-item">
                <% if session[:user_id] %>
                <a class="nav-link" href="/users/<%=session[:user_slug] %>">Users</a>
                <% else %>
                <a class="nav-link" href="/login">Users</a>
                <% end %>
              </li>
              <% if session[:user_id] %>
              <li class="nav-item">
                  <a class="nav-link" href="/posts/new">Post </a>
                </li>
              <% end %>
              <li class="nav-item">
              <% if session[:user_id] %>
                  <% @button = "Logout" %>
                 <% @url = "/logout" %>
              <% else %>
                  <% @button = "Login" %>
                  <% @url = "/login" %>
              <% end %>
                <a class="nav-link" href="<%= @url %>"><%= @button %></a>
              </li>
            </ul>
          </div>
        </nav>
      </section>

    <%= yield %>

    <section id="footer">
      <div class="container text-center">
        <p>Made With Love</p>
      </div>
    </section>
  </body>
</html>
